@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.first-text::first-letter { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { 
  transition: .5s all ease; 
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 63.21%;
  padding: 26px 0;
  display: flex;
  align-items: center;
 }

 .ham { display: none; }

 nav li,
 h1 { margin-right: auto; }

 .navigation {
   display: flex;
   flex-basis: 60%;
   align-items: center;
 } 

 nav {
   margin-right: auto;
   flex-basis: 87%;
 }

 nav ul {
   display: flex;
   flex-basis: 40%;
 }

 nav li:last-child { margin-right: 0; }

 nav li a,
 .user {
   color: #25313d;
   font-family: 'Courier New', Courier, monospace;
   font-size: 12px;
   font-weight: 600;
 }

 nav li a:hover,
 .user:hover,
 nav .active { color: #37C989; }

 .pages > a:after {
   content: "\f107";
   font-family: fontAwesome;
 }

 .pages { position: relative; }
 .pages:hover .dropdown { display: block; }

.dropdown { 
  display: none; 
  position: absolute;
  z-index: 2;
  top: 10px;
}

.dropdown li {
  margin: 10px 0;
  display: block;
}

.user {  text-indent: -9999px; }

.user::before{
  content: "\f2c0";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts here */
.banner li:not(:nth-child(2)) { display: none; }
.banner li { 
  width: 100%;
  margin: 0 auto;
  position: relative; 
}

.mobile { display: none; }

.list-content {
  position: absolute;
  top: 52%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); 
  -webkit-transform: translate(-50%, -50%);
}

.list-content .wrapper {
  width: 100%;
  position: relative;
}

h2 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 48px;
  font-weight: 100;
}

h2 span {  font-weight: bold; }

.lead{
  display: block;
  margin-bottom: 24px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.list-content a {
  padding: 14px 40px;
  background-color: #37C989;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.list-content a:hover {
  background-color: #fff;
  color: #37C989;
} 

.list-content::before{
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid #00C68D;
  border-left: 2px solid #00C68D;
  display: block;
  position: absolute;
  top: -23px;
  left: -19px;
}

.list-content span::before {
  content: "";
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #00C68D;
  border-left: 2px solid #00C68D;
  display: block;
  position: absolute;
  top: 80px;
  left: -19px;
}

.list-content:after {
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid #00C68D;
  border-right: 2px solid #00C68D;
  display: block;
  position: absolute;
  top: -23px;
  right: -19px;
}

.list-content span::after {
  content: "";
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #00C68D;
  border-right: 2px solid #00C68D;
  display: block;
  position: absolute;
  top: 80px;
  right: -19px;
}

.banner { position: relative; }

.left-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 9%;
  text-indent: -9999px;
}

.right-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 9%;
  text-indent: -9999px;
}

.left-arrow::before,
.right-arrow::before{
  content: "\f177";
  padding: 5px;
  border: 1px solid #fff;
  float: right;
  color: #fff;
  font-family: fontAwesome;
  font-size: 12px;
  text-indent: 0;
  transition: .5s all ease; 
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
}

.right-arrow::before{  content: "\f178"; }

.left-arrow:hover::before,
.right-arrow:hover::before { 
  border: 1px solid #00C490;
  color: #37C989; 
}
/* banner styles ends here */
/* features styles starts */
.features .wrapper {  width: 100% }

.list-container{
  display: flex;
  flex-wrap: wrap;
}

h3 {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: bold;
}

h3::before {
  content: "";
  margin: 70px 0 10px;  
  display: block;
  color: #000;
  font-family: fontAwesome;
  font-size: 30px;
}

.internal h3::before { content: "\f0b1"; }
.accounting h3::before { content: "\f1ec"; }
.audit h3::before { content: "\f022"; }

.support h3::before { 
  content: "\f2a0";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);
}

.review h3::before { content: "\f087"; }
.attest h3::before { content: "\f006"; }

.features p {
  width: 65%;
  margin: 0 auto;
  font-size: 12px;
}

.features li {
  flex-basis: 33.25%;
  text-align: center;
}

.internal,
.accounting,
.review,
.support { border-right: 1px solid #e6e8ea; }

.internal,
.accounting,
.audit {  border-bottom: 1px solid #e6e8ea; }
.list-container a { text-indent: -99999px; }

.list-container a::before { 
  content: "\f061";
  margin: 16px 20px 76px 0;
  float: right;
  color: #000;
  font-family: fontAwesome;
  font-size: 12px;
  text-indent: 0;
  transition: .5s color ease; 
  -webkit-transition: .5s color ease;
  -moz-transition: .5s color ease;
} 

.list-container a:hover::before { color: #00C68D; }
/* features styles ends */
/* auditor styles starts */
.auditor { 
  padding: 183px 0;
  margin: 30px 0;
  position: relative;
  background-color: #00C490;
}

.auditor-container {
  width: 64.7%;
  padding: 70px 0 61px;
  box-shadow: 0 0 5px #000;
  position: absolute;
  top: -30px;
  left: 50%;
  background: #3C3E40;
  text-align: center;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
}

.auditor .wrapper {  width: 65%; }
.auditor-head {  text-align: center; }

.auditor-head > span {
  display: block;
  color: #74787c;
  font-weight: bold;
}

h4 {
  color: #fff;
  font-size: 35px;
  font-weight: 100;
}

h4 span {  font-weight: bold; }

.auditor-head p {
  color: #fff;
  font-size: 12px;
  margin: 5px 0 45px;
}

.counts ul {  display: flex; }

.counts li {
  flex-basis: 25%;
  position: relative;
}


.counts li::before {
  content: "";
  width: 1px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #424445;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
}

.counts li:first-child::before { display: none; }

.num {
  display: block;
  color: #00C68D;
  font-size: 57px;
  font-weight: bold;
  text-align: center;
}

.tag {
  margin-bottom: 40px;
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.options {  text-align: center; }

.options a {
  padding: 13px 33px; 
  margin-bottom: 20px;
  background-color: #00C68D;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.options a:hover {
  background-color: #fff;
  color: #00C68D;
}

.options span {
  margin: 0 12px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-style: italic;
}
/* auditor styles ends */
/* team styles starts  */
h5 {
  margin: 100px 0 26px;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
}

h5 span {
  display: inline;
  font-weight: bold;
}

.team li:nth-child(n + 4) { display:none; }

.team ul  {
  width: 82%;
  margin: 0 auto 25px;
  display: flex;
  justify-content: center;
}

.team figure {
  width: 33%;
  margin: 0 auto 30px;
}

.team li {
  padding: 88px 0;
  border-top: 3px solid#fff;
  border-right: 1px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 1px solid #fff;
  flex-basis: 30%;
  text-align: center;
}

h6 {
  margin-bottom: 5px;
  font-size:18px;
  font-weight: bold;
}

.team li span {
  display: block;
  color: #c8c8c8;
  font-size: 10px;
}

.team .active,
.team li:hover {
  border-top: 3px solid #00C490;
  border-right: 1px solid #f6f6f6;
  border-bottom: 3px solid #00C490;
  border-left: 1px solid #f6f6f6;
  cursor: pointer;
}


.team li span:after {
  content: "";
  width: calc(100% - 65%);
  height: 1px;
  margin: 12px auto;
  display: block;
  background-color: #c8c8c8;
}

.calling,
.mailing { 
  margin: 5px;
  display: block;
  color: #000;
  font-size: 12px;
  transition: .5s color ease; 
  -webkit-transition: .5s color ease;
  -moz-transition: .5s color ease;
}

.calling:hover ,
.mailing:hover { color: #00C490; }

.calling::before,
.mailing::before {
  content: "\f095";
  margin-right: 10px;
  color: #00C490;
  font-family: fontAwesome;
}

.mailing::before { content: "\f003"; }
.team img { border-radius: 50%; }
.team .wrapper { position: relative; }
.team .left-arrow { left: 6%; }
.team .right-arrow { right: 8%; }

.team .left-arrow::before,
.team .right-arrow::before{
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
}

.team .left-arrow:hover::before,
.team .right-arrow:hover::before { 
  border: 1px solid #00C490;
  color: #37C989; 
}

.back-top { text-indent: -99999px; }
.team { position: relative; }

.back-top::before{
  content: "\f0aa";
  position: absolute;
  right: 2%;
  bottom: 0;
  color: #00C490;
  font-family: fontAwesome;
  font-size: 25px;
  text-indent: 0;
  transition: .5s all ease;
}

.back-top:hover::before { 
  transform: scale(1.3); 
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}
/* team styles ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #3A3C3E; }

footer .wrapper {
  width: 63.43%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

footer span {
  margin-right: auto;
  display: inline-block;
  color: #becbc3;
  font-size: 11px;
}

.media {
  display: flex;
  flex-basis: 15%;
  align-items: center;
}

.media li { margin-right: auto; }
.media li:last-child { margin-right: 0;}

.facebook,
.twitter,
.google-plus {  text-indent: -9999px; }

.facebook::before,
.twitter::before,
.google-plus::before {
  content: "\f09a";
  padding: 5px;
  border-radius: 5px;
  float: right;
  background-color:  rgb(70, 74, 77, 0.5); 
  color: #fff;
  font-family: fontAwesome;
  font-size: 12px;
  text-indent: 0;
  transition: .5s color ease; 
  -webkit-transition: .5s color ease;
  -moz-transition: .5s color ease; 
}

.twitter::before{ content: "\f099"; }
.google-plus::before{ content: "\f0d5"; }

.facebook:hover::before,
.twitter:hover::before,
.google-plus:hover::before { color: #00C68D; }

.media li {
  color: #fff;
  font-size: 11px;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper {
    width: 63.21%;
    padding: 26px 0;
    display: flex;
    align-items: center;
   }

   nav ul { display: none; }

  .ham {
    width: 35px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
   }
   
  .ham span {
    width: 35px;
    height: 4px;
    margin: 5px 0;
    display: block;
    background: #000;
    text-indent: -99999px;
    transition:  0.5s ease;
  }
  
  .ham:hover + ul,
  nav:hover ul{
    width: 100%;
    display: block;
    float: none;
    position: absolute; 
    z-index: 3;
    top: 55px;
    left: 0;
    right: 0;
    background-color: #269384;
    text-align: center;    
  }
    
  .navigation { flex-basis: 0; } 
  h1 { margin-right: auto; }
  nav { flex-basis: 0; }

  nav li { 
    margin: 20px 0;
    display: block;
  }
  
  nav li a,
  .user {
    color: #25313d;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 600;
  }

  nav li a:hover,
  .user:hover,
  nav .active { color:#25313d; }
  .pages > a:after {  display: none; }
  .pages { position: relative; }
  .pages:hover .dropdown { display:none; }
  .dropdown { display: none;  }
  .dropdown li {    display: none; }
  .user::before{ display: none; }

  /* banner styles starts here */
  .banner li:not(:nth-child(2)) { display: none; }
  h2 { font-size: 25px; }
  .lead{  font-size: 12px; }


  .list-content a:hover {
    background-color: #37C989;
    color: #fff;
  } 

  .left-arrow::before,
  .right-arrow::before{  font-size: 14px; }

  .left-arrow:hover::before,
  .right-arrow:hover::before { 
    border: 1px solid #fff;
    color: #fff; 
  }
  /* banner styles ends here */
    /* features styles starts */

  h3 {  font-size: 30px; }
  h3::before { font-size: 35px; }
  .features p { font-size: 15px; }
  .features li { flex-basis: 100%; }

  .internal,
  .accounting,
  .review,
  .support { border-right: none; }

  .internal,
  .accounting,
  .audit {  border-bottom: 1px solid #e6e8ea; }
  .list-container a::before { font-size: 20px;} 

  .list-container a:hover::before { color: #000; }
  /* features styles ends */
    /* auditor styles starts */
  .auditor { 
    position: static;
    background-color: inherit;
  }

  .auditor-container {
    width: 100%;
    position: static;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }

  .auditor .wrapper {  width: 98%; }
  .auditor-head {  text-align: center; }

  h4 {
    color: #fff;
    font-size: 35px;
    font-weight: 100;
  }

  h4 span {  font-weight: bold; }
  .auditor-head p { font-size: 14px; }
  .tag { font-size: 14px; }
  .options {  text-align: center; }
  .options a { font-size: 12px; }

  .options a:hover {
    background-color: #00C490;
    color: #fff;
  }

  .options span {  font-size: 15px; }
  /* auditor styles ends */
    /* team styles starts  */
  .team li:not(.active) { display: none; }
  h5 {  margin: 20px 0 20px; }

  .team ul  {
    margin-bottom: 50px;
    width: 92%;
    flex-wrap: wrap;
  }
  .team li {
    padding: 88px 0;
    border-top: 3px solid#fff;
    border-right: 1px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 1px solid #fff;
    flex-basis: 100%;
    text-align: center;
  }

  h6 { font-size:20px; }
  .team li span { font-size: 12px; }

  .team .active{
    border-top: 3px solid #00C490;
    border-right: 1px solid #f6f6f6;
    border-bottom: 3px solid #00C490;
    border-left: 1px solid #f6f6f6;
    cursor: inherit;
  }

  .calling,
  .mailing { font-size: 14px; }
  .calling:hover ,
  .mailing:hover { color: #000; }

  .calling::before,
  .mailing::before {
    content: "\f095";
    margin-right: 10px;
    color: #00C490;
    font-family: fontAwesome;
  }

  .team .wrapper { position: relative; }

  .team .buttons { 
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  .team .left-arrow:hover::before,
  .team .right-arrow:hover::before { 
    border: 1px solid #c9c9c9;
    color: #c9c9c9; 
  }

  .back-top:hover::before { 
    transform: none; 
    -webkit-transform: none;
    -moz-transform: none;
  }
  /* team styles ends */
footer { background-color: #3A3C3E; }
footer span { font-size: 14px; }
.media { flex-basis: 40%; }
.facebook::before,
.twitter::before,
.google-plus::before { font-size: 14px;}
.facebook:hover::before,
.twitter:hover::before,
.google-plus:hover::before { color: #fff; }
.media li { font-size: 14px; }

}  

/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 995px) {

}  
/*media query for 768px ends here*/
